<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>525382805804-keo6nkkucts1m15afvbj854srur8kluo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.525382805804-keo6nkkucts1m15afvbj854srur8kluo</string>
	<key>API_KEY</key>
	<string>AIzaSyBQ97rmf7IFtSptJ5zjtaquGqv1XAb5vKU</string>
	<key>GCM_SENDER_ID</key>
	<string>525382805804</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sourish.nextbus</string>
	<key>PROJECT_ID</key>
	<string>next-bus-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>next-bus-dev.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:525382805804:ios:340619432b717f93f52489</string>
</dict>
</plist>